*{
  font-family: 'Bebas Neue', cursive;
}
body{
	margin: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

.mainWrapper{
	width: 100%;
	height: 200%;
	position: absolute;
	left: 0;
	top:0;
	z-index: 10;
	background-image: url('../assets/back.png')

}

nav{
	width: 100%;
	position: fixed!important;
}
.navbar-brand{
	font-size: 4em!important;
}
.nav-link{
	font-size: 3em!important;
	color: white!important;
	opacity:1!important;
}
.logo{
	width: 200px;
	height: 200px;
}

.div1{
	width:100%;
	height: 50%;
}

.div2{
	width:100%;
	height: 50%;
}
.splashDiv{
	border-radius:30px;
	transition: 0.3s all;
	width: 40%;
	position: relative;
	transform: translateY(-50%) ;
	top:50%;
	height: 20%;
	margin: 0 auto;
	background-color: white;
}

.splashHead{
	text-transform: lowercase;
	color:#1e1e1e;
	position: relative;
	transform: translateY(-50%) ;
	top:50%;
	font-size: 7em;
	background: url(../assets/back.png) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 600px) {
	.splashHead{
		font-size: 4em;
	}
	.splashDiv{
		width: 90%;
	}
	.logo{
		width: 128px;
		height: 128px;
	}
}
.splashDiv:hover{
	cursor: pointer;
	transition: 0.4s all;
	transform: translateY(-50%);
}
.splashDiv:hover > .splashHead{
	transition: 0.4s all;
	transform: translateY(-50%);
}
.scrollClass{
	background-color: rgba(0, 0, 0, 0.5)!important;
	z-index: 11!important;
}
.skillsDiv{
	transition: 0.3s all;
	border-radius: 30px;
	width: 70%;
	position: relative;
	transform: translateY(-50%) ;
	top:50%;
	height: 70%;
	margin: 0 auto;
	background-color: white;
}
.skillsHead{
	text-transform: lowercase;
	color:#1e1e1e;
	position: relative;
	transform: translateY(-10%) ;
	top:10%;
	font-size: 4em;
	background: url(../assets/back.png) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skillsDiv:hover{
	cursor: pointer;

}

.row{
	width: 100%;
	margin: 0 auto;
	padding: 50px;
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
.skillImg{
	transition: 0.2s all;
	height: 128px;
	width: 128px;
}
.skillImg:hover{
	transition: 0.2s all;
	transform: scale(1.1);
}
